In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv('AER_credit_card_data.csv', delimiter=',')

In [35]:
df = df.replace('yes', 1)

In [36]:
df = df.replace('no', 0)

In [38]:
df.head()

,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,1,0,37.66667,4.5200,0.033270,124.983300,1,0,3,54,1,12
1,1,0,33.25000,2.4200,0.005217,9.854167,0,0,3,34,1,13
2,1,0,33.66667,4.5000,0.004156,15.000000,1,0,4,58,1,5
3,1,0,30.50000,2.5400,0.065214,137.869200,0,0,0,25,1,7
4,1,0,32.16667,9.7867,0.067051,546.503300,1,0,2,64,1,5

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   card         1319 non-null   int64
 1   reports      1319 non-null   int64
 2   age          1319 non-null   float64
 3   income       1319 non-null   float64
 4   share        1319 non-null   float64
 5   expenditure  1319 non-null   float64
 6   owner        1319 non-null   int64
 7   selfemp      1319 non-null   int64
 8   dependents   1319 non-null   int64
 9   months       1319 non-null   int64
 10  majorcards   1319 non-null   int64
 11  active       1319 non-null   int64
dtypes: float64(4), int64(8)
memory usage: 123.8 KB

In [44]:
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')

In [47]:
corr_labels = ['expenditure']
new_corr = df.drop(labels=corr_labels, axis=1).corr()
new_corr.style.background_gradient(cmap='coolwarm')

In [48]:
corr_labels = ['share']
new_corr = df.drop(labels=corr_labels, axis=1).corr()
new_corr.style.background_gradient(cmap='coolwarm')

In [49]:
corr_labels = ['share']
clean_df = df.drop(labels=corr_labels, axis=1)

In [50]:
clean_df.head()

,card,reports,age,income,expenditure,owner,selfemp,dependents,months,majorcards,active
0,1,0,37.66667,4.5200,124.983300,1,0,3,54,1,12
1,1,0,33.25000,2.4200,9.854167,0,0,3,34,1,13
2,1,0,33.66667,4.5000,15.000000,1,0,4,58,1,5
3,1,0,30.50000,2.5400,137.869200,0,0,0,25,1,7
4,1,0,32.16667,9.7867,546.503300,1,0,2,64,1,5

In [51]:
clean_df.to_csv('clean_data.csv')

In [54]:
clean_df.describe()

,card,reports,age,income,expenditure,owner,selfemp,dependents,months,majorcards,active
count,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000
mean,0.775588,0.456406,33.213103,3.365376,185.057071,0.440485,0.068992,0.993935,55.267627,0.817286,6.996967
std,0.417353,1.345267,10.142783,1.693902,272.218917,0.496634,0.253536,1.247745,66.271746,0.386579,6.305812
min,0.000000,0.000000,0.166667,0.210000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,25.416670,2.243750,4.583333,0.000000,0.000000,0.000000,12.000000,1.000000,2.000000
50%,1.000000,0.000000,31.250000,2.900000,101.298300,0.000000,0.000000,1.000000,30.000000,1.000000,6.000000
75%,1.000000,0.000000,39.416670,4.000000,249.035800,1.000000,0.000000,2.000000,72.000000,1.000000,11.000000
max,1.000000,14.000000,83.500000,13.500000,3099.505000,1.000000,1.000000,6.000000,540.000000,1.000000,46.000000

In [73]:
cols = df.columns.to_list()
cols.remove('share')
cols

['card',
 'reports',
 'age',
 'income',
 'expenditure',
 'owner',
 'selfemp',
 'dependents',
 'months',
 'majorcards',
 'active']

In [82]:
pd.columns = None
pd.columns

In [83]:
pd.columns = cols
pd.columns

['card',
 'reports',
 'age',
 'income',
 'expenditure',
 'owner',
 'selfemp',
 'dependents',
 'months',
 'majorcards',
 'active']

In [76]:
pd

In [78]:
df['card']

0       1
1       1
2       1
3       1
4       1
       ..
1314    1
1315    0
1316    1
1317    1
1318    1
Name: card, Length: 1319, dtype: int64