In [1]:
import pandas as pd
from copy import deepcopy
import numpy as np

In [2]:
df = pd.read_csv('src/UCI_13_rub.csv')

In [3]:
df.describe()

,Unnamed: 0,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
count,30000.000000,3.000000e+04,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,30000.000000
mean,14999.500000,5.024530e+06,1.603733,1.853133,1.551867,35.485500,1.699074e+05,1.776349e+05,1.567704e+05,1.447823e+05,1.439816e+05,1.564651e+05,0.221200
std,8660.398374,3.892430e+06,0.489129,0.790349,0.521970,9.217904,4.968984e+05,6.912261e+05,5.282088e+05,4.699848e+05,4.583492e+05,5.333240e+05,0.415062
min,0.000000,3.000000e+05,1.000000,0.000000,0.000000,21.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,7499.750000,1.500000e+06,1.000000,1.000000,1.000000,28.000000,3.000000e+04,2.499000e+04,1.170000e+04,8.880000e+03,7.575000e+03,3.532500e+03,0.000000
50%,14999.500000,4.200000e+06,2.000000,2.000000,2.000000,34.000000,6.300000e+04,6.027000e+04,5.400000e+04,4.500000e+04,4.500000e+04,4.500000e+04,0.000000
75%,22499.250000,7.200000e+06,2.000000,2.000000,2.000000,41.000000,1.501800e+05,1.500000e+05,1.351500e+05,1.203975e+05,1.209450e+05,1.200000e+05,0.000000
max,29999.000000,3.000000e+07,2.000000,6.000000,3.000000,79.000000,2.620656e+07,5.052777e+07,2.688120e+07,1.863000e+07,1.279587e+07,1.585998e+07,1.000000

In [4]:
df.mean()

Unnamed: 0                    1.499950e+04
LIMIT_BAL                     5.024530e+06
SEX                           1.603733e+00
EDUCATION                     1.853133e+00
MARRIAGE                      1.551867e+00
AGE                           3.548550e+01
PAY_AMT1                      1.699074e+05
PAY_AMT2                      1.776349e+05
PAY_AMT3                      1.567704e+05
PAY_AMT4                      1.447823e+05
PAY_AMT5                      1.439816e+05
PAY_AMT6                      1.564651e+05
default.payment.next.month    2.212000e-01
dtype: float64